@import "shared.rasi"

configuration {
    modi: "drun";
    show-icons: true; 

    /* 1. Lepaskan Control+j dari fungsi Enter (sisakan Return & KP_Enter saja) */
    kb-accept-entry: "Return,KP_Enter";

    /* 2. Lepaskan Control+k dari fungsi hapus teks (ganti ke tombol lain atau kosongkan) */
    kb-remove-to-eol: "";

    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    
    /* FIX IKON TERPOTONG: Berikan spasi tepat setelah ikon " " */
    display-drun: " "; 
    drun-display-format: "{name}";
}

window {
    width: 650px;
}

mainbox {
    padding: 32px;
    spacing: 20px;
    children: [ "inputbar", "listview" ];
}

/* --- Area Search Bar --- */
inputbar {
    spacing: 12px;
    padding: 14px 18px;
    
    border-radius: 10px;
    border: 1px;
    border-color: @sky;
    background-color: @background-alt;
    
    children: [ "prompt", "entry" ];
}

prompt {
    text-color: @foreground;
    background-color: transparent;
    vertical-align: 0.5;
}

entry {
    text-color: @foreground;
    background-color: transparent;
    placeholder: "Cari aplikasi...";
    placeholder-color: rgba(166, 173, 200, 0.5); /* subtext0 dengan transparansi */
    vertical-align: 0.5;
}

/* --- Area List --- */
listview {
    columns: 1;
    lines: 8;
    spacing: 10px;
    fixed-columns: true;
    dynamic: true;
}

element {
    padding: 14px 18px;
}

element-icon {
    size: 24px;
    padding: 0px 12px 0px 0px;
    background-color: transparent;
}

element-text {
    horizontal-align: 0.0;
}
